.introduction {
    margin-bottom: 25px;
}

.call-to-action {
    font-weight: 500;
    font-size: 50px;
}

.announcement {
    font-weight: 500;
    font-size: 18px;
    margin: 25px 0px;
}

.current {
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
}

.current .learning {
    border-radius: 25px 0px 0px 25px;
    padding: 10px 15px;
    color: white;
    background-color: #05668D;
}

.current .skill {
    border-radius: 0px 25px 25px 0px;
    padding: 10px 15px;
    color: white;
    background: #02C39A;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.skill-lists ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

.skill-lists ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.skill-lists ul li:last-child {
    border-bottom: none
}

@media only screen and (max-width: 768px)
{
    .current {
        display: none;
    }
}