.main-container {
    background: white;
    /* border: 1px solid white; */
    border-radius: 5px;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}

.content {
    margin-left: 17%;
    height: 100%;
}

@media screen and (max-width: 1024px)
{
    .main-container {
        position: static;
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .content {
        margin-left: 0;
    }
}